<p> Hello {{name}}</p>

<p> Welcome to The Garden Studio</p>

<p>We are very happy to have you on our team</p>

<p>To help you collect your payment on timely bases. please  <a href="{{url}}">Click this Link</a> to Create your stripe account </p>
<p>if the link doesnt work please copy and past the following link to your web browser -  {{url}} </p>


<p>Thank you</p>

<p>The Garden Team</p>